* {
  font-family: sans-serif;
  background-color: #fff2cc;
  background-image: url(http://www.wallpapermaiden.com/image/2016/09/26/developer-javascript-codes-coding-web-development-technology-6492.jpg);

}

h1, h2 {
  color: black;
  text-align: center;
  font-family: fantasy;
  f
}

h1 {
  font-size: 30;
}

h2 {
  font-size: 20;
}
