body {
  font-family: fantasy, Sans, serif;
  margin: 0px;
  background-color: 	gb(249, 248, 247);
}

.image {
    background-image: url(images/cup-of-coffee-1280537_1920.jpg);
    background-size: cover;
    width: 100%;
    height: -webkit-fill-available;
    background-attachment: fixed;
    margin: 0;
}

p {
    width: 85%;
    height: auto;
    margin: 20px;
    text-align: left;
    padding: inherit;
}

.list {
  li: inline;
}

.heading {
  font-size: 24px, bold;
  width: 90%;
  height: 20px;
  text-align: left;
  border-bottom: 2px solid #f15909;
  margin-top: 50px;
}

.footer {
  text-align: center;
}
